// Banner
.banner {
  height: 60vh;
  background-image: url("../img/banner.png");
  background-blend-mode: color;
  background-color: #21212190;
  background-position: center;
  overflow: hidden;
  .banner-content {
    padding: 1rem;
    margin-top: 7.5%;
    margin-left: 5%;
    width: 85%;
    background-color: $greytranslucid;
    border-radius: 5%;
    h1 {
      padding-bottom: 1rem;
    }
    p {
      font-size: clamp(1rem, 5vw, $paragraph);
      padding-bottom: 1.4rem;
    }
    .action {
      padding-bottom: 0.8rem;
    }
  }

  @media #{$tablet} {
    .banner-content {
      margin-right: 10%;
      width: 70%;
    }
  }

  @media #{$desktop} {
    .banner-content {
      width: 55%;
    }
  }
}
