// Generals
* {
  box-sizing: border-box;
}

:root {
  --animate-delay: 0.25s;
}

// Text Size and font
h2,
h3,
p,
a,
li {
  font-family: $roboto;
}

h1{
    font-size: $mainTitle;
}

h2{
    font-size: $subTitle;
    padding-bottom: 1rem;
}
  
h3{
    font-size: $minorTitle;
}
  
p,
a,
li{
    font-size: $paragraph;
    line-height: 1.2;
}

// Background and text color
h1,
h2,
h3 {
  color: $lightYellow
}

body {
  margin-top: 5rem;
  background-color: $grey;
  color: $white;
  scroll-behavior: smooth;
}

// Button 
.btn {
  padding: 0.6rem 1rem;
  background-image: linear-gradient($lightYellow, $darkYellow);
  color: $grey;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  &:hover {
    background-image: linear-gradient($lightorange, $darkbrown);
    color: black;
  }
}

// Sections margins
section {
  margin: 1rem 5%;
}

