// Navbar
nav {
  background-color: $grey;
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .brand {
    text-decoration: none;
    color: $lightYellow;
    font-size: $mainTitle;
    font-family: $tangerine;
  }
  ul{
    display: none;
    text-align: center;
    li {
      margin: 0 0.5rem;

    }
  }

  .navopened {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis:100%;
    li{
      margin: 1rem;
    }
  }

  @media #{$desktop} {
    ul{
      display: flex;
    }
    button{
      display: none;
    }
    div {
      order:3;
    }
  }
}


// Banner
.banner {
  height: 60vh;
  background-image: url("../img/banner.png");
  background-blend-mode: color;
  background-color: #21212190;
  background-position: center;
  overflow: hidden;
  .banner-content {
    padding: 1rem;
    margin: 7rem 0 0 1.5rem;
    width: 85%;
    background-color: #212121aa;
    h1{
      padding-bottom: 1rem;
    }
    p {
      padding-bottom: 1.4rem;
    }
    .action{
      padding-bottom: 0.8rem;
    }
  }

  @media #{$tablet} {
    .banner-content {
      margin: 8rem 0 0 3rem;
      width: 70%;
    }
  }
  
  @media #{$desktop} {
    .banner-content {
      margin: 9rem 0 0 3rem;
      width: 55%;
    }
  }
}

