// Services
#services h2 {
  padding-top: 1rem;
}

.serviceContainer {
  margin: 1rem -0.5rem;

  .service {
    border: 1px solid $lightYellow;
    width: 350px;
    margin: 1rem auto;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $lightorange;
      background-color: $darkbrown;
      padding: 0.7rem 0;
      height: 75px;

      i {
        font-size: 2rem;
        padding: 0 0.7rem;
        color: $lightorange;
      }

      h3 {
        text-align: center;
      }

      ;
    }

    p {
      padding: 0.5rem;
    }
  }

  @media #{$tablet} {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media #{$desktop} {
    margin: 0 7%
  }
  @media #{$bigscreen} {
     margin: 0 10%;
  }

}

#services a {
  text-decoration: none;
  color: $lightYellow;
}