// Shop - Items

.shop {
  .category {
    margin-bottom: 1rem;
  }

  .shopcontainer {
    .item {
      position: relative;
      max-width: calc(192px *2);
      height: calc(108px *2);
      margin: 1rem auto;
      border: 1px solid $lightYellow;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      >img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .promotion {
        position: absolute;
        top: 45px;
        right: 0;
        background-color: $errorRed;
        color: $lightYellow;
        transform: rotate(45deg);
        font-size: 4rem;
        border-radius: 50%;
      }

      a {
        text-decoration: none;
        h3 {
          padding: 0.25rem 0;
          width: 100%;
          text-align: center;
          background-color: $greyseethrough;
        }
      }

      .cardfooter {
        background-color: $greyseethrough;
        color: $lightYellow;

        p {
          text-align: right;
          .promotext{
            text-decoration:line-through $errorRed;
          }
        }
          
        padding-bottom: 0.5rem;

        .action {
          position: relative;
          z-index: 10;
          display: flex;
          justify-content: center;
          gap: 0.25rem
        }
      }
    }
  }

  @media #{$desktop} {
    .shopcontainer {
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      .item {
        margin: 0;
        width: calc(192px *2);
      }
    }
  }
}