// About - Team

.picture {
  grid-area: picture
}

.title {
  grid-area: title
}

.content {
  grid-area: content;
}


.team {
  .teams {
    margin: 0 -1rem;

    .member {
      margin: 1rem auto;
      border: 1px solid $lightYellow;
      border-radius: 1rem;
      display: grid;
      width: 375px;
      height: 600px;
      overflow: hidden;
      grid-template-rows: 44px 200px 356px;
      grid-template-areas:
        "title"
        "picture"
        "content";

      .title {
        text-align: center;
        border-bottom: 1px solid $lightYellow;
        border-radius: 1rem 1rem 0 0;
        background-color: $darkbrown;
        padding: 0.5rem 0;
      }

      .picture {
        height: 200px;
        width: 100%;
        object-fit: cover;
        display: block;
        border-bottom: 1px solid $lightYellow;
      }

      .content {
        padding: 1rem;

        li {
          padding-top: 1rem;
        }
      }
    }
  }

  @media #{$tablet} {
    .teams {
      .member {
        width: 500px;
        height: 500px;
        grid-template-rows: 44px 456px;
        grid-template-columns: 250px 250px;
        grid-template-areas:
          "title title"
          "picture content";
        .picture {
          height: 100%;
          border-radius: 0 0 0 1rem;
          border-right: 1px solid $lightYellow;
        }
      }
    }
  }

  @media #{$desktop} {
    .teams {
      margin: 0 -2.5rem;
      display: flex;
      flex-wrap: wrap;
    }

    .member {
      margin: 0 0.5rem;
    }

  }
}